.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

select,
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.certificate {
    margin-bottom: 20px;
}

.certificate-content {
  position: relative;
}

.text-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .date {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  

  .text-overlay img {
    margin-bottom: 10px;
    width: fit-content;
    height: 50px;
    position: relative;
    top: 430px; /* Adjust as needed */
    left: 600px; /* Adjust as needed */
  }

.text-overlay h2,
.text-overlay p {
  margin: 5px;
}
